{% extends 'master_layout.html' %}

{% load static %}

{% block title %}
Reports | SIMS Pro
{% endblock title %}

{% block content %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Reports</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->

                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">


                             <!-- /.Academic enrolment reports-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Academic reports

                                </div>

                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-comment fa-fw"></i> Enrolment lists

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-twitter fa-fw"></i> Class lists

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-envelope fa-fw"></i> Class distributions

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-tasks fa-fw"></i> Enrolment summary

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-upload fa-fw"></i> Enrolment schedule

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-bolt fa-fw"></i> Subject enrolment

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-warning fa-fw"></i> Graduation list

                                        </a>

                                    </div>
                                </div>
                            </div>
                             <!-- /.Academic enrolment reports-->


                            <!-- /.Sports enrolment reports -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Sports enrolment reports

                                </div>

                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-comment fa-fw"></i> Team lists

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-twitter fa-fw"></i> Team distribution

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-envelope fa-fw"></i> Sports codes summery

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-tasks fa-fw"></i> Sports codes schedule

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-upload fa-fw"></i> Enrolment by discipline

                                        </a>

                                    </div>

                                </div>
                                <!-- /.panel-body -->

                            </div>
                            <!-- /.Sports enrolment reports -->

                            <!-- /.Staff and students reports -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Staff and students reports

                                </div>

                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-comment fa-fw"></i> Staff lists

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-twitter fa-fw"></i> Teacher timetables

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-envelope fa-fw"></i> Coach timetables

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-tasks fa-fw"></i> End of term academic reports

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-upload fa-fw"></i> Demerit

                                        </a>

                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-upload fa-fw"></i> Student timetables

                                        </a>

                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-upload fa-fw"></i> Student weekly attendence

                                        </a>

                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-upload fa-fw"></i> Student attendance days

                                        </a>

                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-upload fa-fw"></i> Unaccounted lists

                                        </a>

                                    </div>

                                </div>
                                <!-- /.panel-body -->

                            </div>
                            <!-- /.Staff and students reports -->




                        </div>
                        <!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i> Class and academic reports
                                </div>
                                <!-- /.class and academics -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-comment fa-fw"></i> Subjects results

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-twitter fa-fw"></i> Class exam results

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-envelope fa-fw"></i> Class performance analysis

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-tasks fa-fw"></i> Class assessment schedule

                                        </a>

                                    </div>
                                    <!-- /.list-group -->

                                </div>


                            </div>
                            <!-- /.class and academics -->

                            <!-- /.Teams and sports codes-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Teams and sport codes
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-comment fa-fw"></i> Metrics analysis

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-twitter fa-fw"></i> Team metrics

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-envelope fa-fw"></i> Team performance analysis

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-tasks fa-fw"></i> Team assessment schedule

                                        </a>

                                    </div>
                                    <!-- /.list-group -->

                                </div>
                                <!-- /.Teams and sports codes-->

                            </div>


                            <!-- /.Teams and sports codes-->
                             <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Academic schedules and timetables
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-comment fa-fw"></i> Exam schedule

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-twitter fa-fw"></i> Class timetable

                                        </a>


                                    </div>
                                    <!-- /.list-group -->

                                </div>


                            </div>
                            <!-- /.Teams and sports codes-->

                            <!-- /.Sports schedule and timetable-->
                             <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Sports schedule and timetable
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-comment fa-fw"></i> Tournament schedule

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-twitter fa-fw"></i> Team timetable

                                        </a>


                                    </div>
                                    <!-- /.list-group -->

                                </div>


                            </div>
                            <!-- /.Sports schedule and timetable-->

                             <!-- /.Players reports-->
                             <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Players reports
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-comment fa-fw"></i> Demerit

                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-twitter fa-fw"></i> Players timetable

                                        </a>

                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-twitter fa-fw"></i> Players weekly attendance

                                        </a>

                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-twitter fa-fw"></i> Players attendance days

                                        </a>

                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-twitter fa-fw"></i> Unaccounted lists

                                        </a>





                                    </div>
                                    <!-- /.list-group -->

                                </div>


                            </div>
                            <!-- /.Players reports-->

                            <!-- /.panel -->

                            <!-- /.panel .chat-panel -->

                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
{% endblock content %}