{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="card">
        <div class="card-header">
          <h3 class="card-title"><i class="fas fa-unlock-alt"></i> Password reset | simspro.net </h3>
      
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body">
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="text-danger">{% blocktrans %}Please contact your administrator if you have any trouble resetting your password.{% endblocktrans %}</p>

<!-- /.card-body -->
<!-- /.card-footer-->
</div>
</div>
<!-- /.card -->
{% endblock %}

