{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title"><i class="fas fa-unlock-alt"></i> Password Reset Successful | simspro.net </h3> 

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
      <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
        <i class="fas fa-times"></i></button>
    </div>
  </div>
  <div class="card-body">

 <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12"> <h4 class="text-success">Congratulations! Your password is now changed.</h4></div>
  </div>
  <br>
 <a class="btn btn-primary" href="{% url 'account_login' %}">{% trans "Sign In With New Password" %}</a>
  </div>

</div>

</div>

{% endblock %}

