{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner %}
<!-- /.panel -->
    <div class="panel panel-default">
	<!-- /.panel-heading -->
    <div class="panel-heading">
     <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
     </div>
     <!-- /.panel-heading -->
     <div class="panel-body">

     <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>

    </div>
     <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

{% endblock %}

