{% extends 'master_layout.html' %}

{% load static %}

{% block title %}
Welcome | SIMS Pro
{% endblock title %}

{% block content %}
<!-- /.panel -->
    <div class="panel panel-default">
	<!-- /.panel-heading -->
    <div class="panel-heading">
     <i class="fa fa-list fa-fw"></i> Welcome | Sims Professional
     </div>
     <!-- /.panel-heading -->
     <div class="panel-body">

 <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                 <i class="fa fa-users fa-fw"></i> Class Management
                                </div>
                                <div class="panel-body">
                                    <p>Attendance Registry, Attendance register, Tests & Exams, Message Box (Emails & SMSs), Timetables.</p>
                                </div>
                                <div class="panel-footer">
                                    Advanced Class Management
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                 <i class="fa  fa-database fa-fw"></i>   Student Records
                                </div>
                                <div class="panel-body">
                                    <p>Enrolments details, Parents and Guadians, Special Needs & Disability, Disciplinary Records, Socio-economic assessment.	</p>
                                </div>
                                <div class="panel-footer">
                                    Advanced Student Records
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                <i class="fa  fa-rss-square fa-fw"></i>    Extra-Curricular Activities
                                </div>
                                <div class="panel-body">
                                    <p>Sport Codes, Clubs & Houses, Recreational Activities, Arts and Creativity groups, Field-Trips and excursions.</p>
                                </div>
                                <div class="panel-footer">
                                    Extra-Curricular Activities
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                  <i class="fa  fa-gears fa-fw"></i>    School Management
                                </div>
                                <div class="panel-body">
                                    <p>Student Enrolment, Billing and Vouchers, Inventory and Asset Control, Facilities & buildings.</p>
                                </div>
                                <div class="panel-footer">
                                    Advanced School Management
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                   <i class="fa  fa-calendar fa-fw"></i>    Events  Management
                                </div>
                                <div class="panel-body">
                                    <p>School Calendar, Events Management, School Activities, All Related Events Management Services.</p>
                                </div>
                                <div class="panel-footer">
                                   Advanced Events Management
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                 <i class="fa  fa-commenting fa-fw"></i>    Communication
                                </div>
                                <div class="panel-body">
                                    <p>SMS Messaging (2 way), Bulk Messaging, Automatic Enquiries, Email notifications, Parents panel.</p>
                                </div>
                                <div class="panel-footer">
                                    Advanced Communications
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                  <i class="fa fa-cog fa-fw"></i> School Administration
                                </div>
                                <div class="panel-body">
                                    <p>Staff Management, Courses and class management, Access control & user roles, Management Reports</p>
                                </div>
                                <div class="panel-footer">
                                    Advanced School Administration
                                </div>
                            </div>
                            <!-- /.col-lg-4 -->
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    Yellow Panel
                                </div>
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                                </div>
                                <div class="panel-footer">
                                    Panel Footer
                                </div>
                            </div>
                            <!-- /.col-lg-4 -->
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    Red Panel
                                </div>
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                                </div>
                                <div class="panel-footer">
                                    Panel Footer
                                </div>
                            </div>
                            <!-- /.col-lg-4 -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->


    </div>
     <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
{% endblock content %}
