{% extends 'master_layout.html' %}

{% load static %}

{% block title %}
Get Support | SIMS Pro
{% endblock title %}

{% block content %}

<!-- /.panel -->
    <div class="panel panel-default">
	<!-- /.panel-heading -->
    <div class="panel-heading">
     <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
     </div>
     <!-- /.panel-heading -->
     <div class="panel-body">

    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="jumbotron">
                                <h1>Jumbotron</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.</p>
                                <p><a class="btn btn-primary btn-lg" role="button">Learn more</a>
                                </p>
                            </div>
                        </div>
                   </div>

    </div>
     <!-- /.panel-body -->
    </div>
    <!-- /.panel -->


{% endblock content %}
