{% extends "master_layout.html" %}

{% block title %}Forbidden (403){% endblock %}

{% block content %}
<!-- /.panel -->
    <div class="panel panel-default">
	<!-- /.panel-heading -->
    <div class="panel-heading">
     <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
     </div>
     <!-- /.panel-heading -->
     <div class="panel-body">

 <h1>Forbidden (403)</h1>

<p>CSRF verification failed. Request aborted.</p>

    </div>
     <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

{% endblock content %}


