{% extends "master_layout.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
<!-- /.panel -->
    <div class="panel panel-default">
	<!-- /.panel-heading -->
    <div class="panel-heading">
     <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
     </div>
     <!-- /.panel-heading -->
     <div class="panel-body">

 <h1>Page not found</h1>

<p>This is not the page you were looking for.</p>

    </div>
     <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
{% endblock content %}



